{% extends "base.html" %}

{% block title %}Report errata{% endblock %}

{% block content %}
  <h2 id="chapter-title">Report errata</h2>
  <div id="chapter-body">
    <form action="." method="post" accept-charset="utf-8">
      
      <p>
        <label for="id_reporter">Your name:</label>
        {% if form.reporter.errors %}<p class="errors">{{ form.reporter.errors.as_text }}</p>{% endif %}
        {{ form.reporter }}
      </p>
      
      <p>
        <label for="id_reporter_email">Your email address:</label>
        {% if form.reporter_email.errors %}<p class="errors">{{ form.reporter_email.errors.as_text }}</p>{% endif %}
        {{ form.reporter_email }}
      </p>

      <p>
        <label for="id_chapter">Chapter:</label>
        {% if form.chapter.errors %}<p class="errors">{{ form.chapter.errors.as_text }}</p>{% endif %}
        {{ form.chapter }}
      </p>
      
      <p>
        <label for="id_page">Page number:</label>
        {% if form.page.errors %}<p class="errors">{{ form.page.errors.as_text }}</p>{% endif %}
        {{ form.page }}
      </p>
      
      <p>
        <label for="id_location">Location: <span>(i.e. "third paragraph"; "first code snippet", etc.)</span></label>
        {% if form.location.errors %}<p class="errors">{{ form.location.errors.as_text }}</p>{% endif %}
        {{ form.location }}
      </p>

      <p>
        <label for="id_description">Description:</label>
        {% if form.description.errors %}<p class="errors">{{ form.description.errors.as_text }}</p>{% endif %}
        {{ form.description }}
      </p>
      
      <p class="submit"><input type="submit" value="Send &rarr;"></p>
    </form>
  </div>
{% endblock %}