{% extends "base.html" %}

{% block extrahead %}
	<script type="text/javascript" src="http://media.djangobook.com/yui/yahoo/yahoo-min.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui/dom/dom-min.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui/event/event-min.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui/dragdrop/dragdrop-min.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui/connection/connection-min.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui-ext/yui-ext-core.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui-ext/tabs-lib.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/yui-ext/resizable-lib.js"></script>
	<script type="text/javascript" src="http://media.djangobook.com/djangobook-min.js"></script>
	<link href="http://media.djangobook.com/yui/container/assets/container.css" type="text/css" media="screen" rel="stylesheet">
	<link href="http://media.djangobook.com/yui-ext/css/tabs.css" type="text/css" media="screen" rel="stylesheet">
	<link href="http://media.djangobook.com/yui-ext/css/resizable.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block title %}{{ release.chapter }}{% endblock %}

{% block hdnav %}
	<div class="nav">
		{% if release.get_previous_chapter.is_released %}
			<a href='../{{ release.get_previous_chapter.chapter.get_type_display }}{{ release.get_previous_chapter.chapter.number|stringformat:"02i" }}/'>&laquo; previous</a> &loz;
		{% endif %}
		<a href="..">table of contents</a>
		{% if release.get_next_chapter.is_released %}
			&loz; <a href='../{{ release.get_next_chapter.chapter.get_type_display }}{{ release.get_next_chapter.chapter.number|stringformat:"02i" }}/'>next &raquo;</a>
		{% endif %}
	</div>
{% endblock %}
{% block ftnav %}
	<div class="nav">
		{% if release.get_previous_chapter.is_released %}
			<a href='../{{ release.get_previous_chapter.chapter.get_type_display }}{{ release.get_previous_chapter.chapter.number|stringformat:"02i" }}/'>&laquo; previous</a> &loz;
		{% endif %}
		<a href="..">table of contents</a>
		{% if release.get_next_chapter.is_released %}
			&loz; <a href='../{{ release.get_next_chapter.chapter.get_type_display }}{{ release.get_next_chapter.chapter.number|stringformat:"02i" }}/'>next &raquo;</a>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	{% load markup %}
  <h2 id="chapter-title">{{ content.title }}</h2>
  {% if content.subtitle %}
    <h3 id="chapter-subtitle">{{ content.subtitle }}</h3>
  {% endif %}
  <div id="chapter-body">
    {{ content.body }}
  </div>
{% endblock %}

{% block afterbody %}
	<div id="highlight-floater"></div>
	<!-- comment dialog -->
	<div id="comments" class="yresizable-pinned">
		<div class="hd" id="comments-head">
			Comments <span class="close" onclick="Comments.close();">X</span>
		</div>
		<div class="bd">
			<div id="comment-tabs">
				
				<!-- comment form -->
				<div id="comment-tabs-form" class="tab">
					<form action="comments/" method="post" id="commentform">
            <p>
            	<input type="hidden" name="nodenum" value="">
							<label for="id_name">Name (required)</label>
            	<input type="text" name="name" id="id_name" value="" tabindex="1">
            </p>
            <p>
							<label for="id_email">E-mail (required; will not be displayed)</label>
	            <input type="text" name="email" id="id_email" value="" tabindex="2">
            </p>
            <p>
							<label for="id_url">Website</label>
            	<input type="text" name="url" id="id_url" value="" tabindex="3">
            </p>
            <p>
            	<label for="id_comment">Comment</label>
            	<textarea name="comment" id="id_comment" tabindex="4" cols="40" rows="15"></textarea>
            </p>
					</form>
				</div>
				
				<!-- comments on this node tab: filled in dynamically -->
				<div id="comment-tabs-current" class="tab">
					<ol id="current-comments-list"></ol>
				</div>
				
				<!-- all comments tab: also dynamic -->
				<div id="comment-tabs-all" class="tab">
					<ol id="all-comments-list"></ol>
				</div>
				
				<!-- help -->
				<div id="comment-tabs-help" class="tab">
					<h4>About this comment system</h4>
					<p>
						This site is using a contextual comment system to help us gather
          	targeted feedback about the book.  Instead of commenting on an
						entire chapter, you can leave comments on any indivdual "block"
						in the chapter. A "block" with comments looks like this:
					</p>
					<p class="image">
						<img src="http://media.djangobook.com/help/comments1.png" width="350" height="100">
					</p>
					<p>
						A "block" is a paragraph, list item, code sample, or other small
						chunk of content.  It'll get highlighted when you select it:
					</p>
					<p class="image">
						<img src="http://media.djangobook.com/help/comments2.png" width="350" height="100">
					</p>
					<p>
						To post a comment on a block, just click in the gutter next to the
						bit you want to comment on:
					</p>
					<p class="image">
						<img src="http://media.djangobook.com/help/comments3.png" width="350" height="100">
					</p>
					<p>
						Many, many thanks to <a href="http://www.jackslocum.com/yui/">Jack Slocum</a>;
						the inspiration and much of the code for the comment system comes from Jack's
						blog, and this site couldn't have been built without his wonderful 
						<code>YAHOO.ext</code> library.  Thanks also to Yahoo for YUI itself.
					</p>
				</div>

			</div>
		</div>
		<div class="ft">
       <div id="comments-message"></div>
       <div id="comments-submit-wrapper">
				<input type="button" id="comment-submit" value="Post comment" onclick="Comments.submitComment();">
       	<input type="button" id="comment-close" value="Close" onclick="Comments.close();">
			</div>
    </div>
	</div>
{% endblock %}
