{% spaceless %}
	{% load markup %}
	{% if comments %}
		{% for c in comments %}
			<li class="comment" id="c{{ c.id }}">
				<dl>
					<dt>
						{% if c.url %}<a href="{{ c.url|escape }}" rel="nofollow">{% endif %}
						{{ c.name|escape }}
						{% if c.url %}</a>{% endif %}
						<span class="meta">{{ c.date_posted|date:"M jS, Y P" }}</span>
						{% if c.is_reviewed %}
							<span title="This comment has been reviewed and will be taken into account in a future version of the book. Thanks for contributing!" class="thanks">
								&radic;
							</span>
						{% endif %}
						{% if perms.djangobook %}
							<span class="actions">
								[<a href="/tools/removecomment/{{ c.id }}/" onclick="Comments.removeComment(this); return false;">&times;</a>]
								[<a href="/tools/markreviewed/{{ c.id }}/" onclick="Comments.markCommentHandled(this); return false;">&radic;</a>]
							</span>
						{% endif %}
					</dt>
					<dd>{{ c.comment|striptags|urlize|markdown }}</dd>
				</dl>
			</li>
		{% endfor %}
	{% else %}
		<li>No comments on this node.</li>
	{% endif %}
{% endspaceless %}