<div class="nav">
	{% if release.get_previous_chapter.is_released %}
		<a href='../{{ release.get_previous_chapter.chapter.get_type_display }}{{ release.get_previous_chapter.chapter.number|stringformat:"02i" }}/'>&laquo; previous</a> &loz;
	{% endif %}
	<a href="..">table of contents</a>
	{% if release.get_next_chapter.is_released %}
		&loz; <a href='../{{ release.get_next_chapter.chapter.get_type_display }}{{ release.get_next_chapter.chapter.number|stringformat:"02i" }}/'>next &raquo;</a>
	{% endif %}
</div>