{% extends "book/toc.html" %}

{% block content %}
  <h2 id="chapter-title">Table of contents</h2>
  <h2 id="chapter-subtitle">{{ version }}</h2>
  <ol class="toc">    
    {% for chapter in contents %}
      <li class="{% cycle a,b %}">
        {% if chapter.exists_in_branch %}
          <a href='{{ chapter.get_type_display }}{{ chapter.number|stringformat:"02i" }}/'>
            {{ chapter }}
          </a>  
        {% else %}
          {{ chapter }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}