<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}The Django Book{% endblock %}</title>
    <link rel="stylesheet" href="http://new-media.djangobook.com/yui/reset/reset-min.css" type="text/css">
    <link rel="stylesheet" href="http://new-media.djangobook.com/yui/grids/grids-min.css" type="text/css">
    <link rel="stylesheet" href="http://new-media.djangobook.com/djangobook.css" type="text/css">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <h1><a href="/">The Django Book</a></h1>
        <div id="global-nav">
            <a class="about" href="/about/">About</a>
          |
            <a class="comment-help" href="/about/comments/">Comment help</a>
          |
            <a class="contact" href="/contact/">Contact us</a>
          |
            <a class="errata" href="/errata/">Errata</a>
          |
            <a class="buy"
              href="http://www.amazon.com/gp/product/1590597257?ie=UTF8&amp;tag=djangoproject-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1590597257">
                Buy the print version on Amazon.com</a>
        </div>
        {% block hdnav %}{% endblock %}
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            {% block content %}{% endblock %}            
          </div>
        </div>
      </div>
      <div id="ft">
        {% block ftnav %}{% endblock %}
        Copyright 2006 Adrian Holovaty and Jacob Kaplan-Moss.<br>This
        work is licensed under the <a href="/license/">GNU Free Document
        License</a>.
        <br>
        Hosting graciously provided by <a href="http://mediatemple.net/">
        <img style="vertical-align: middle; position: relative; top: -1px;" src="http://media.djangoproject.com/img/site/mt.png" alt="media temple" /></a>
      </div>
    </div>
    <!--
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct = "UA-848611-1"; urchinTracker();</script>
    --> 
  {% block afterbody %}{% endblock %}
  </body>
</html>
