<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Django: the book</title>
    <style type="text/css" media="screen">
    /* <![CDATA[ */
        * {margin: 0; padding: 0;}
        body {background-color: #092E20; color: white; font:12px/1.4em Verdana,sans-serif; text-align: center;}
        #wrap {position: absolute; left: 50%; top: 50%; width: 490px; height: 300px; margin-top: -150px; margin-left: -245px;}
        h2 {font-size: 170%; font-weight: normal; }
    /* ]]> */
    </style>
</head>
<body>
    <div id="wrap">
        <h1><img src="http://media.jacobian.org/im/django.png" alt="Django" /></h1>
        <h2>Yes, Virginia, there is a book.</h2>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct = "UA-848611-1"; urchinTracker();</script>
</body>
</html>
